article p {
    text-decoration: none;
}

.card-component {
    border-radius: 25px;
    height: 340px;
    display: flex;
    align-items: end;
    box-sizing: border-box;
    box-shadow: inset 0px -50px 50px 0px rgba(0,0,0,0.5);
    @media (max-width: $breakpoint) {
        height: 255px;
    }

    &__Title {
        margin: 0;
        padding: 20px;
    }
}