.collapse-component {
  margin-bottom: 5px;
  
  &__Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    color: white;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform;

    &__Icon {
      transform: rotate(0deg);
      transition: 0.3s ease-in-out;
    }
  }

  &__Content {
    margin: 0;
    padding: 20px 30px;
    text-align: justify;
    transform-origin: top;
    height: 0;
    transform: scaleY(0);
    transition: transform 0.1s ease-in-out;
    // color: $secondary-color;
    @media (max-width: $breakpoint) {
      font-size: 13px;
      padding: 5px 10px;
    }
  }
}

.down {
  transform: rotate(-180deg);
  transition: 0.3s ease-in-out;
}

.dropdown {
  background-color: $secondary-color;
  height: auto;
  transform: scaleY(1);
  transition: 0.3s ease-in-out;
  & p {
    opacity: 1; 
  }
}

.collapse-component__Title h2 {
  margin: 0;

  @media (max-width: $breakpoint) {
    font-size: 13px;
  }
}
