.header-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1240px;

  @media (max-width: $breakpoint) {
    font-size: 14px;
    img {
      width: 145px;
    }
  }
  &__Logo {
    padding: 50px;
    @media (max-width: $breakpoint) {
      padding: 10px;
    }
  }
}
