.nav-header {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  padding: 50px;
  @media (max-width: $breakpoint) {
    padding: 10px;
  }

  &__Link {
    text-decoration: none;
    font-size: 24px;
    color: black;
    @media (max-width: $breakpoint) {
      font-size: 12px;
    }
  }
}
