$primary-color: #ff6060;
$secondary-color: #f7f7f7;

.main {padding: 0 5% 0 5%;}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    
}

//note : on va faire les marges du body à part pour faire coincider header/main/footer


/**
*
*Partie header
*
*/
.header-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    //adapter la taille du logo et du texte en taille proportionnelle
}

.nav-header {
    display: flex;
    align-items: flex-end;

    &__Home-page,
    &__About-page {
        text-decoration: none;
        padding: 5px;

        &:focus {
            text-decoration-line: underline;
        }
    }

}

/**
*
*Partie footer
*
*/
.footer-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: black;
    color: white;
    margin: 0%;
    padding: 20px;

    //note: faut changer le logo d'en bas
    //pas fixé en bas pour le moment
    &__Logo {
        width: 100px; //base de travail à reprendre
    }
}

/**
*
*Home page
*
*/
.home-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    

    &__Gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;

    }
}

.home-component img {
    width: 100%;
}

article {
    background-color: $primary-color;
    padding: 20px;
}

article p {
    color: white;
    text-decoration: none; //pourquoi ça marche pas???
}

.banner-component {
    border-radius: 10px;
    height: 223px;
    margin-bottom: 35px;
    position: relative;

    &__Img {

        border-radius: 25px;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }


    &__Text {
        position: absolute;
        display: flex;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
}

/**
*
*About page
*
*/
.about-component {

    &__Collapse {

        &__Dropdown {}
    }
}

.collapse-component {

    &__Title {
        display: flex;
        background-color: $primary-color;
        padding: 10px;

    }

    &__Content {
        background-color: $secondary-color;
        margin: 0;
        padding: 10px;
    }

}

/**
*
*Error page
*
*/
.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $primary-color;


    &__Title {}

    &__Description {}

    &__Link {}
}


/**
*
*Logement Page
*
*/

.carousel {
    
    &__Button {

        &__Left {
            background-color: $primary-color;

        }

        &__Right {
            background-color: $primary-color;

        }
    }

    &__Picture {}
}

.logement-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__Presentation {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &__Logement {
            &__Title {}

            &__Location {}

            &__Tag {}
        }

        &__Host {
            display: flex;
            flex-direction: column;
            align-items: end;

            &__Name {}

            &__Picture {}

            &__Rate {}
        }
    }

    &__Collapse {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-column-gap: 20px;
        width: 100%;
    }
}