$primary-color: #ff6060;
$secondary-color: #f6f6f6;

body {
  margin: 0;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  position: relative;
  min-height: 100vh;
  display: flex;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  padding: 0 20px 20px 20px;
  max-width: 1240px;
  width: 100%;
  flex: 1;
}

/**
*
*Partie header
*
*/
.header-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  width: 100%;
  max-width: 1240px;
  //adapter la taille du logo et du texte en taille proportionnelle
}

.nav-header {
  display: flex;
  align-items: flex-end;
  gap: 20px;

  &__Home-page,
  &__About-page {
    text-decoration: none;
    padding: 5px;
    font-size: 24px;

    &:focus {
      text-decoration-line: underline;
    }
  }
}

/**
*
*Partie footer
*
*/
.footer-component {
  width: 100%;
  height: 209px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;


  &__Logo {
    width: 100px;
  }
}

/**
*
*Home page
*
*/
.home-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;

  &__Gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
    gap: 20px;
    border-radius: 25px;
    background-color: $secondary-color;

    &__Card {
      text-decoration: none;
      color: white;
      font-weight: 700;
    }

  }
}

article p {
  text-decoration: none;
}

.home-component img {
  width: 100%;
}

article {
  background-color: $primary-color;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
  padding: 20px;
  border-radius: 25px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.banner-component {
  border-radius: 10px;
  height: 223px;
  margin-bottom: 35px;
  position: relative;

  &__Img {

    &__Home {
      border-radius: 25px;
      height: 100%;
      object-fit: cover;
      width: 100%;
      filter: brightness(40%);
    }

    &__About {
      border-radius: 25px;
      height: 100%;
      object-fit: cover;
      width: 100%;
      filter: brightness(70%);

    }
  }

  &__Text {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 1px black;
  }
}

/**
*
*About page
*
*/
.about-component {
  &__Collapse {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}

.collapse-component {
  &__Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    color: white;
    padding: 15px;
    border-radius: 5px;

    &__Icon {
      padding: inherit;
    }
  }

  &__Content {
    background-color: $secondary-color;
    margin: 0;
    padding: 10px;
  }
}

.collapse-component__Title h2 {
  margin: 0;
}

/**
*
*Error page
*
*/
.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: $primary-color;
  gap: 75px;
  margin-bottom: 75px;
  
  &__Title {
    font-size: 288px;
    font-weight: 700;
    margin: 0%;
  }

  &__Description {
    font-size: 36px;
    font-weight: 500;
    margin: 0%;
  }

  &__Link {
    color: black;
  }
}

/**
*
*Logement Page
*
*/

.carousel {
  position: relative;
  overflow: hidden;
  height: 415px;
  width: 100%;

  &__Picture {

    &__Img {
      object-fit: cover;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  &__Button {
    &__Left {
      position: absolute;
      left: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
      cursor: pointer;
    }

    &__Right {
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
      cursor: pointer;
    }

  }

  &__Number {
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 500;
  }

}

.logement-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  &__Presentation {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__Logement {
      display: flex;
      flex-direction: column;

      &__Title {
        color: $primary-color;
        font-size: 36px;
        font-weight: 500;
        margin: 0;
      }

      &__Location {
        font-weight: 500;
      }

      &__Tag {
        display: flex;
        gap: 20px;
      }
    }

    &__Right {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 20px;
      &__Host {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        &__Name {
          color: $primary-color;
          text-wrap: wrap;
        }

        &__Picture {
          border-radius: 50%;
          height: 64px;
        }
      }
    }
  }

  &__Collapse {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 20px;
    width: 100%;
  }
}

.rate-component {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.tag-component {
  background-color: $primary-color;
  height: 25px;
  padding: 0 10px;
  border-radius: 10px;
  min-width: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 700;

  &__Button {
    margin: 0;
  }
}